**/.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/

# Project specific
.chainlit/
dist/

.env.local
.env.development.local
.env.test.local
.env.production.local

.files

.ipynb_checkpoints

.chainlit/cache

data_collection/designs